body {
  min-height: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  background-color: aliceblue;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}
